





              /*TOP LINE*/
.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger #top{
  transition: transform 1s;
}

.hamburger:hover #top{
  transform: translateY(33px) rotate(45deg);
}





            /*MIDDLE LINE*/
.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover #middle{
  background-color: mediumvioletred;
}

.hamburger #middle{
  background-color: rebeccapurple;
  transition: 0.3s;
}





            /*BOTTOM LINE*/
.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger #bottom{
  transition: transform 1s;
}

.hamburger:hover #bottom{
  transform: translateY(-33px) rotate(-45deg);
}



            /*NAV*/
nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}
/*
@keyframes top {
  from {}
  to {}
}

@keyframes middle {
  from {}
  to {}
}

@keyframes bottom {
  from {}
  to {}
}
